name: comparison-bench

permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:
    inputs:
      filter:
        description: "BenchmarkDotNet filter"
        required: false
        default: "*"
      createPullRequest:
        description: "Create Pull Request"
        required: false
        default: false
        type: boolean

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true
  BenchmarksDirectory: ${{ github.workspace }}/benchmarks

jobs:
  build:
    strategy:
      matrix:
        configuration: [Release]
        config:
          - os: windows-latest
            cpu: "AMD.EPYC.7763"
          - os: ubuntu-latest
            cpu: "AMD.EPYC.7763"
          - os: macos-latest
            cpu: "Apple.M1.(Virtual)"
          - os: windows-11-arm
            cpu: "Cobalt.100"
          - os: ubuntu-24.04-arm
            cpu: "Cobalt.100"

    runs-on: ${{ matrix.config.os }}

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0 # Get all history to allow automatic versioning using MinVer
      - name: Setup .NET
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
        with:
          global-json-file: global.json
      - name: Comparison Bench
        shell: pwsh
        run: '& ./comparison-bench.ps1 -filter "${{ github.event.inputs.filter }}"'
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: benchmarks-${{ matrix.config.os }}
          if-no-files-found: error
          retention-days: 7
          path: ${{ env.BenchmarksDirectory }}

      - name: Create Pull Request with Benchmark Results
        if: github.event.inputs.createPullRequest == 'true' && github.repository == 'nietras/Sep' && github.actor == 'nietras' && matrix.config.os != 'windows-latest' && matrix.config.os != 'ubuntu-24.04-arm'
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          commit-message: "Update ${{ matrix.config.cpu}} benchmarks for runner ${{ matrix.config.os}}"
          title: "Update ${{ matrix.config.cpu}} benchmarks for runner ${{ matrix.config.os}}"
          body: ""
          branch: "benchmarks/update-${{ matrix.config.os }}"
          add-paths: |
            benchmarks/**
