name: comparison-bench

permissions: read-all

# configure manual trigger
on:
  workflow_dispatch:
    inputs:
      filter:
        description: 'BenchmarkDotNet filter'
        required: false
        default: '*'

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true
  BenchmarksDirectory: ${{ github.workspace }}/benchmarks

jobs:
  build:
    strategy:
      matrix:
        # https://docs.github.com/en/actions/using-github-hosted-runners/using-github-hosted-runners/about-github-hosted-runners#standard-github-hosted-runners-for-public-repositories
        os: [windows-latest, ubuntu-latest, macos-latest, windows-11-arm, ubuntu-24.04-arm]
        configuration: [Release]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0 # Get all history to allow automatic versioning using MinVer
      - name: Setup .NET
        uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
        with:
          global-json-file: global.json
      - name: Comparison Bench
        shell: pwsh
        run: '& ./comparison-bench.ps1 -filter "${{ github.event.inputs.filter }}"'
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: benchmarks-${{ matrix.os }}
          if-no-files-found: error
          retention-days: 7
          path: ${{ env.BenchmarksDirectory }}
